/* Stylowanie od ogółu czyli od container */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");

/* *{
    box-sizing: border-box;
    
} */

/* Body */
body {
  margin: 10px 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

#container {
  border: 2px dashed black;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.877);
  background-color: lightgray;
  margin: 0 auto;
  max-width: 1200px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Stylowanie menu */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 18px;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  background-color: black;
}

/* Slider */
/* .slider {
  display: block;
} */

.slider div {
  display: flex;
}

.slider img {
  display: block;
  width: calc(100% - 200px);
}

/* Main */
main {
  display: flex;
}

main div {
  display: flex;
  width: calc(100% - 200px);
}

/*
main div {
  display: flex;
  width: calc(100% - 200px);
} 
*/

/* Article */
article {
  width: 70%;
  padding: 20px;
}

/* Aside */

aside {
  width: 30%;
  max-width: calc(100% - 200px);
  padding: 20px;
  background-color: darkgray;
  border-left: 3px dotted black;
}

/* .ads {
  width: 200px;
  background-color: red;
  /* display: none;} */

.ads {
  background-color: rgb(196, 220, 255);
  width: 200px;
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 15pt;
  /* display: none */
}

.green {
  background-color: rgb(48, 21, 255);
  /* word-wrap: normal; */
  /* zawijanie tekstu w divie */
}

.widget {
  margin-bottom: 10px;
}

.widget img {
  float: left;
  padding: 0 10px 5px 0;
  /* border: 5px dashed red; */
}
.button {
  display: flex;
  justify-content: center;
}
.links ul {
  list-style-type: square;
  margin-left: 20px;
  margin: 0;
}

.links ul li {
  margin-bottom: 10px;
}

h3 {
  font-family: "Papirus", fantasy;
}

aside button:hover {
  color: white;
  background-color: black;
}

aside p {
  text-align: justify;
}

/* Footer */
footer {
  background-color: lightgray;
  border-top: 1px solid black;
  text-align: center;
  padding: 25px 0;
}

footer p {
  margin: 0;
  text-shadow: 2px 2px darkgray;
}
