@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");

.mobileMenu {
  display: none;
}

@media (min-width: 1200px) {
  #container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

body {
  margin: 10px 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

#container {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

img {
  max-width: 100%;
  max-height: auto;
}

.container {
  width: 300px;
  align-items: flex-start;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMenu {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 18px;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  background-color: #7a1b1b;
}

.slider div {
  display: flex;
  background-color: black;
}

main {
  display: flex;
}

main div {
  display: flex;
  width: calc(100% - 200px);
}

article {
  width: 70%;
  padding: 20px;
  background-color: bisque;
}

article img {
  max-width: 100%;
  max-height: auto;
}

article h1 {
  color: red;
  font-size: 32px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

article p {
  text-align: justify;
  font-size: 20px;
}

aside {
  width: 30%;
  max-width: calc(100% - 200px);
  padding: 20px;
  background-color: darkgray;
  border-left: 3px dotted black;
}

.ads {
  background-color: rgb(196, 220, 255);
  width: 200px;
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 15pt;
}

.green {
  background-color: rgb(48, 21, 255);
}

.widget {
  margin-bottom: 10px;
}

.widget img {
  float: left;
  padding: 0 10px 5px 0;
}

.moreInfoBtn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.links ul {
  list-style-type: square;
  margin-left: 20px;
  margin: 0;
}

.links ul li {
  margin-bottom: 10px;
}

h3 {
  font-family: "Papirus", fantasy;
}

aside button:hover {
  color: white;
  background-color: black;
}

aside p {
  text-align: justify;
}

footer {
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(200, 200, 200);
  text-align: left;
  padding: 25px 25px;
}

footer p {
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
 
  main div {
    flex-direction: column;  
    max-width: calc(100% - 200px);
  }
  
  article,
  aside {
    width: 100%;
    max-width: calc(100% - 40px);
    
  }

  aside {
    border-left: none;
    border-top: 3px dotted black; 
  }


  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    z-index: 999;
    gap: 16px;
  }

  .navMenu.active {
    display: flex;
  }

  .navItem {
    margin: 16px 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  article {
    width: 70%;
    padding: 20px;
    background-color: rgb(220, 233, 255);
  }

  article h1 {
    color: rgb(216, 85, 159);
    font-size: 32px;
    font-family: Impact;
  }

  h3 {
    color: rgb(216, 85, 159);
    font-family: "Lato";
    font-size: 24px;
  }

  aside {
    width: 30%;
    background-color: #f5f5f5;
    border-left: 2px dashed #2e9ffc;
  }
}

@media screen and (max-width: 575.98px) {
  .ads {
    display: none;
  }
  main {
    flex-direction: column;
    width: 100%;
  }
  .slider video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  main div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  article {
    background-color: rgb(220, 233, 255);
    width: 100%;
    height: auto;
  }

  article h1 {
    color: rgb(216, 85, 159);
    font-size: 32px;
    font-family: Impact;
  }

  h3 {
    color: rgb(216, 85, 159);
    font-family: "Lato";
    font-size: 24px;
  }
  aside {
    width: 100%;
    max-width: 100%;
    border-left: none;
    background-color: #f5f5f5;
  }

  .mobileMenu {
    display: block;
padding-right: 16px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 8px 8px;
  }
  .navbar {
    display: none;
  }
}
/* Breakpoint 576-768 px */

@media screen and (min-width: 576px) and (max-width: 768px) {
  @import url("https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

  .ads {
    display: none;
  }

  main div {
    display: flex;
    width: 100%;
  }

  nav ul li a {
    font-size: 10px;
    color: black;
    padding: 3px;
    text-decoration: none;
  }

  article h1 {
    font-family: "Winky Rough", sans-serif;
    font-weight: 900;
    color: blueviolet;
  }

  aside {
    background-color: lightgreen;
    border-left: 3px dotted rgb(22, 147, 93);
  }
}